.navbar {
  background: var(--mainWhite);
  height: 5rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #3d2c8d;
  box-shadow: var(--lightShadow);
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
}

.nav-center .icon {
  display: flex;
  gap: 1rem;
}

.nav-center .icon h3 {
  margin-top: 0.5rem;
}

.nav-links {
  display: flex;
  align-items: center;
}
.nav-links a {
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition: var(--mainTransition);
}
.nav-links a:hover {
  color: #3d2c8d;
}
.logo {
  width: 12rem;
}

/* Mobile=== */
.menu{
  display: none;
}

/* Media query ---- */
@media screen and (max-width: 450px){
  .nav-center .icon h3 {
    font-size: 0.7rem; 
    width: 50px;
  }

  .nav-links a {
    font-size: 1rem;
  }

  .nav-center {
    margin-top: 0.5rem;
  }
  
}